nav{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    padding: 0px 150px;
    position: fixed; top: 0;
    z-index: 999;
    /* 確保nav在上層 */
}

.logo{
    display: flex;
    justify-content:flex-start;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 20px;
    font: 15px Montserrat, Arial, Helvetica, sans-serif;
    color: #505563;
    white-space: nowrap;
}

.show-box-container{
    position: relative;
}

.show-box{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font: 12px Montserrat, Arial, Helvetica, sans-serif;
    color: #505563;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px gray;
    width: 180px;
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s;
    margin: 15px 0 0 0;
}

.show-box li a{
    display: block;
    padding: 10px 15px;
}

.show-box-container:hover .show-box{
    display: block;
}

.nav-list a:hover {
    color: orange;
}

.nav-btn{
    background-color: red;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
    margin: 10px;
}

.intro-area-1{
    height: 80vh;
    background-image: url(https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;       
    justify-content: flex-start;
    padding: 0 10%;
    position: relative;
    margin-top: 85px;
}

.intro-text-1{
    flex: 0 1 40%;
    padding: 20px;
}

.intro-text-1 h2{
    font-size: 44px;
    font-weight: bold;
    white-space: nowrap;
    line-height: 0.8;
    margin-bottom: 60px; 
}

.intro-text-orange{
    color: orange;
}

.intro-text-en{
    font-size: 20px;
    font-family: "ariel black",  sans-serif;
}

.intro-text-1 p{
    font-size: 16px;
    margin-bottom: 40px;
    color: #595959;
    font-family: sans-serif;
    line-height: 2;

}

.intro-img-1{
    flex: 0 1 60%;
    height: 100%;
}

.intro-text-btn{
    margin-top: 40px;
    background-color: darkblue;
    color: white;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.intro-area-2{
    height: 80vh;
    background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    padding-top: 100px;
}

.intro-area-2 p{
    flex: 0 1 35%;
    text-align: center;
    font-size: 17px;
    color: #333333;
    line-height: 2;
}

.intro-text-area{
    color: white;
    /* padding: 0px 0; */
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;


}

.intro-text-area p{
    font-size: 27px;
    color: orange;
}

.intro-text-area h2{
    font-size: 24px;
    color: #252932;
}

.manage-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 200px;
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.manage-section.bg1 {
    background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png");
}

.manage-section.bg3 {
    background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png");
}

.manage-section.bg2 {
    background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png");
}

.manage-section.reverse {
    flex-direction: row-reverse;
}

.manage-section-img {
    width: 45%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    z-index: 2;
}

.manage-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.manage-title {
    font-size: 24px;
    font-weight: bold;
    color: #064c8c;
    margin-bottom: 20px;
}

.manage-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.manage-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #252932;
}

.manage-text p {
    font-size: 16px;
    line-height: 2;
    color: #252932;
}

.iconimg {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/*  */
/* logo區域 */
/*  */

.text-area{
    color: white;
    padding: 30px 0;
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;
    font-family: sans-serif;
}

.text-area-p1{
    color: orange;
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
    text-align: center;
    margin-bottom: 15px;
}

.text-area-p2{
    color: #252932;
    font-size: 19px;
    text-align: center;
    margin-top: 15px;

}





/* footer */


